.row {
  display: flex;
  flex-direction: row;
  gap: 10px;

  > div.block {
    flex: 1;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block {
  border: 1px solid #000;
  padding: 10px;
}
