@use "@/styles/common";
@use "@/styles/fns";
@use "@/styles/vars";

.root {
  @include fns.normal_page;
}

.filter {
  margin-bottom: 40px;
}

.filter_by {
  font-weight: 300;
  color: #9ca3af;
}

.back {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;

  a {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #9ca3af;
  }
}
