body {
  --mantine-font-family: var(--fm);
  --mantine-primary-color-light: #eee;
  --mantine-primary-color-light-hover: #ddd;
  --mantine-color-dark-light-hover: #ddd;
  --mantine-color-dark-light: #eee;

  --fm: "PingFang SC", "Songti SC", Helvetica, Arial, sans-serif;
  font-family: var(--fm);
  background: #f7f7f7;
}
