@use "fns";

@mixin body_bg {
  position: relative;

  &:before {
    @include gray(90%);
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    //background: url(./images/bg/002.png) fixed;
    opacity: 0.15;
  }
}

.bg_1 {
  background: url(images/bg/1.jpg) fixed;
}

@for $i from 2 through 10 {
  .bg_#{$i} {
    @include body_bg;
    &:before {
      background: url("./images/bg/#{$i}.png") fixed;
      background-size: 250px 250px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  @for $i from 2 through 10 {
    .bg_#{$i} {
      @include body_bg;
      &:before {
        display: none;
        background: #fff;
      }
    }
  }
}
