@use "vars";

@mixin content_width {
  max-width: 800px;
}

@mixin code {
  font-family: Monaco, Courier, "Courier New", monospace;
  letter-spacing: 0;
}

@mixin normal_page {
  @include content_width;
  padding: 20px 0 40px 0;
}

@mixin weak {
  color: var(--color-text-tertiary);
  @include link_with_under_line(var(--color-text-tertiary));
}

@mixin link {
  a {
    //box-shadow: 0 1px 0 0 #fff, 0 2px 0 0 $link-color;

    &:hover {
      color: var(--color-link-hover);
      //box-shadow: 0 1px 0 0 #fff, 0 3px 0 0 $link-color-hover;
      //text-decoration: underline;
      //text-underline-style: wave;
    }
  }
}

@mixin link_with_under_line($color: var(--color-link)) {
  @include link;

  a {
    color: $color;
    //box-shadow: 0 1px 0 0 #fff, 0 2px 0 0 $color;
    text-decoration: underline;
    text-underline-offset: 6px;

    &:focus-visible {
      //text-underline-color: transparent;
      text-decoration: none;
      color: var(--color-link-hover);
    }
  }
}

@mixin my_list($indent: 1em) {
  ul, ol {
    padding-left: $indent;
  }

  ol {
    padding-left: $indent + 1em;
  }

  li {
    &::marker {
      @include code;
      //content: "-";
      color: var(--color-text-tertiary);
      //font-family: monospace;
    }
  }

  ul li {
    padding-inline-start: 1ch;
    list-style-type: '-';
  }

  ol li {
    list-style-type: decimal;
  }
}

@mixin gray($v: 100%) {
  -webkit-filter: grayscale($v);
  -moz-filter: grayscale($v);
  //-ms-filter: grayscale($v);
  -o-filter: grayscale($v);

  filter: grayscale($v);

  //filter: gray;
}

@mixin form-fields {
  .root {
    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-top: 1em;
      line-height: 2em;
    }

    input {
      padding: 0 8px;
      height: 40px;
    }

    button {
      margin-top: 40px;
      height: 42px;
      font-size: 16px;
    }
  }

  .info {
    color: var(--color-text-tertiary);
  }

  @media screen and (max-width: vars.$mobile-width) {
    .submit {
      button[type="submit"] {
        width: 100%;
      }
    }
  }
}
