$primary-color: #111827;

$font-color: #111827;
$font-color-weak: #9aa1ad;
$font-color-error: #f33;
$font-color-warn: #f90;
$font-color-reverse: #fff;
$link-color: $primary-color;
$link-color-hover: #0284c7;

$border-color-base: #e5e7eb;
$border-radius-base: 2px;

$box-shadow-base: 0 0 2px 0 $border-color-base, 0 2px 2px 0 rgba(0, 0, 0, 0.15);

$bg-paper: #fff;
$bg-gray: #f5f5f5;
$bg-reverse: #1f210c;

$anim-ts: 300ms;

$mobile-width: 800px;


$bg-gray-50: #f9fafb;
