@use "@/styles/fns";
@use "@/styles/vars";

.captcha_input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  width: 100px;
  height: 40px;
  overflow: hidden;
  background: vars.$bg-gray;
  cursor: pointer;
  border: 1px solid vars.$border-color-base;

  img {
    height: 40px;
  }
}

.ipt {
  display: flex;

  input {
    flex: 1;
  }
}

@media screen and (max-width: vars.$mobile-width) {
  .ipt {
    flex: 1;
  }
}
