@use '@/styles/fns';
@use '@/styles/vars';

.root {
  font-size: 14px;
  padding: 20px;
  //background: $bg-gray;
  background: vars.$bg-paper;
  border-top: 1px solid vars.$border-color-base;
  box-shadow: 0 -2px 8px 0 rgb(236 236 236 / 86%);
}

.content {
  @include fns.normal_page;
  display: flex;
  gap: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.block {
  @include fns.my_list;

  &:first-child {
    flex: 1;
  }

  &:nth-child(2) {
    flex: 2;
  }

  h3 {
    font-size: 20px;
    line-height: 2em;
  }
}

.categories {
  line-height: 1.7em;
}

.num {
  opacity: 0.5;
}

.search {
  margin-top: 40px;
  display: flex;
  align-items: center;

  input,
  button {
    height: 36px;
  }

  input {
    border-radius: vars.$border-radius-base 0 0 vars.$border-radius-base;

    &::placeholder {
      font-size: 12px;
    }
  }

  button {
    border-radius: 0 vars.$border-radius-base vars.$border-radius-base 0;
    border: none;
  }

  input {
    padding: 0 8px;
    border-right: none;
    flex: 1;
  }

  button {
    background: vars.$primary-color;
    color: vars.$font-color-reverse;
    padding: 0 12px;
  }
}

.rss {
  color: vars.$font-color-weak;
  margin-top: 20px;

  a {
    color: vars.$font-color-weak;

    &:hover {
      color: vars.$link-color-hover;
    }
  }
}

.tags {
  font-size: 12px;

  a {
    display: inline-block;
    border: 1px solid vars.$border-color-base;
    padding: 4px 8px;
    margin: 0 8px 4px 0;

    &:hover {
      background: #fff;
      transform: scale(1.1);
      border-color: vars.$link-color-hover;
    }

    &:focus-visible {
      border-color: #0284c7;
    }
  }
}

.copyright {
  font-size: 12px;
  text-align: center;
  padding: 40px 0;
}


@media screen and (max-width: vars.$mobile-width) {
  .root {
    box-shadow: none;
  }

  .content {
    padding: 10px 0;
    flex-direction: column;
  }

  .block {
    &:nth-child(1) {
      width: 100%;
      position: relative;
      padding-top: 90px;
    }
  }

  .search {
    position: absolute;
    top: 10px;
    margin: 0;
    width: 100%;
  }
}
