@use "@/styles/fns";
@use "@/styles/vars";
@use "sass:color";

.root {
  @include fns.normal_page;
}

.post {
  position: relative;
  margin-bottom: 60px;
  padding-top: 30px;
  cursor: pointer;
  border-radius: 1px;
  // 动画效果只对背景、阴影生效，对高度等不生效，防止首次加载时高度发生弹跳
  transition:
    background 0.3s,
    box-shadow 0.3s;

  &:hover {
    background-color: #f9fafb;
    box-shadow: 0 0 0 20px vars.$bg-gray-50;

    .summary,
    .read_more {
      color: #374151;
      opacity: 0.8;
    }
  }

  h2.post_title {
    padding: 0;
  }

  .pub_time {
    // position: absolute;
    // top: 0;
    margin-top: 12px;
    border-left: 2px solid color.scale(vars.$font-color-weak, $lightness: 20%);
    height: 1em;
    line-height: 1em;
    padding-left: 0.8em;
  }

  .info {
    font-size: 14px;
    color: vars.$font-color-weak;
  }

  .summary {
    margin: 10px 0;
    transition: 0.3s;
    color: #6b7280;

    @include fns.link_with_under_line;
  }

  .read_more {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    gap: 0.5em;
    height: 1.5em;
    transition: 0.3s;
    color: #6b7280;

    &:hover {
      opacity: 1;
    }

    .icon {
      opacity: 0.5;
    }
  }
}

.norecord {
  font-style: italic;
  color: vars.$font-color-weak;
}

.pager {
  .label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #d1d5db;
    margin-bottom: 0.5rem;
  }
}

.pagination {
  display: flex;
  font-size: 12px;
  line-height: 2em;
  margin-bottom: 60px;
  gap: 4px 8px;
  flex-wrap: wrap;

  a,
  span {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    border: 1px solid transparent;
    border-radius: 2px;
  }

  a {
    box-shadow: none !important;

    &:hover {
      border-color: #d1d5db;
    }
  }

  span {
    border-color: #d1d5db;
  }
}

@media screen and (max-width: vars.$mobile-width) {
  .post {
    border-radius: 0;
  }
}
