@use "@/styles/fns";
@use "@/styles/vars";

.root {
  font-size: 14px;
  //border: 1px solid $border-color-base;
  padding: 12px 16px 12px 14px;
  line-height: 1.8em;
  margin-top: 10px;
  // background: vars.$bg-paper;
  display: inline-flex;
  flex-direction: column;
  transition: vars.$anim-ts;
}

.header {
  //font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.item {
  padding-left: 11px;
  margin-left: 10px;
  border-left: 1px solid vars.$border-color-base;

  // &.current {
  //   border-left-color: #000;

  // }
}

.number {
  //margin-right: 4px;
  color: #6b7280;
  opacity: 0.5;
  //opacity: 0.5;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.title {
  color: #6b7280;
}

.toc-h1 {
}

.toc-h2 {
  padding-left: 1.5em;
}

.toc-h3 {
  padding-left: 2.5em;
}

.toc-h4 {
  padding-left: 3.5em;
}

.toc-h5 {
  padding-left: 4.5em;
}

.toc-h6 {
  padding-left: 5.5em;
}
