@use "@/styles/fns";
@use "@/styles/vars";
@use "sass:color";

.root {
  @include fns.normal_page;
  position: relative;
  padding-top: 40px;

  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
    scroll-margin: 16px;
  }

  .post_title {
    margin-bottom: 20px;
  }

  .table_wrapper {
    width: 100%;
    overflow: auto;
  }

  pre code {
    padding: 20px 16px;
  }
}

.post_pub_date {
  // position: absolute;
  // top: 0;
  // margin-top: 10px;
  margin-bottom: 20px;
  border-left: 2px solid color.scale(vars.$font-color-weak, $lightness: 20%);
  height: 1em;
  line-height: 1em;
  padding-left: 0.8em;
}

.info {
  @include fns.weak;
  font-size: 14px;
  margin-top: 10px;
}

.content {
  @include fns.link_with_under_line;
  @include fns.my_list(2em);

  padding: 30px 0 60px 0;
  //text-align: justify;
  overflow: auto;
  color: #111827;

  &:after {
    content: "◼";
    display: block;
    font-size: 12px;
    opacity: 0.5;
  }

  //@for $i from 2 through 4 {
  @each $before_tag in p, figure, pre, blockquote, div, table, ul, ol {
    #{$before_tag} + h2 {
      margin-top: 1.2em;
      margin-bottom: 0.2em;
    }
    #{$before_tag} + h3,
    #{$before_tag} + h4 {
      margin-top: 1em;
    }
  }
  //}

  img {
    max-width: 100%;
  }

  figure {
    margin-top: 0;
  }

  p + figure,
  div + figure {
    margin-top: 2em;
  }

  h2 + figure,
  h3 + figure {
    margin-top: 0.5em;
  }

  del {
    opacity: 0.5;
  }
}

.post_copyright {
}

.post_props {
  @include fns.weak;
  display: flex;
  gap: 2em;
  font-size: 14px;
  margin-top: 20px;

  span {
    display: inline-block;
  }

  a {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.neighbors {
  display: flex;
  gap: 10px;
  padding: 1.5em 0;
  margin: 2em 0;
  border-top: 1px solid vars.$border-color-base;
  border-bottom: 1px solid vars.$border-color-base;
  font-size: 14px;

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    line-height: 1.3em;
    border-radius: 1px;
    transition: 0.3s;

    &:nth-child(2) {
      align-items: flex-end;

      a {
        text-align: right;
      }
    }

    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 10px vars.$bg-gray-50;
        background-color: #f9fafb;
      }
    }

    .label {
      font-size: 12px;
      color: #9ca3af;
    }

    a {
      display: inline-flex;
    }
  }
}

.norecords {
  font-style: italic;
  color: vars.$font-color-weak;
}

.related {
  font-size: 14px;
  margin-bottom: 60px;

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    &:before {
      content: "-";
      display: inline-block;
      opacity: 0.5;
      margin: 0 0.5em 0 2px;
    }
  }
}

.comments {
  font-size: 14px;
}

.comment {
  @include fns.my_list(2em);
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  .username {
    font-weight: bold;
  }

  .children {
    background: vars.$bg-gray;
    margin: 10px 0 0 40px;
    padding: 20px;

    .children {
      padding: 20px 0;
    }
  }
}

.comment_content {
  overflow: auto;
}

.comment_reply_form {
  border: 1px solid vars.$border-color-base;
  padding: 16px 16px 64px 16px;
  background: #fff;
}

.comment_form {
  margin: 60px 0 80px 0;
}

.comment_closed {
  margin: 120px 0 160px 0;
  font-size: 1.5em;
  color: vars.$font-color-weak;
  font-style: italic;
}

.p_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  text-align: center;
}

.toc2_wrapper {
  display: flex;
  justify-content: flex-end;
}

.toc2 {
  position: fixed;
  top: 40px;
  transform: translateX(calc(100% + 70px));
  // border-color: vars.$border-color-base;
  // border-left: 1px solid vars.$border-color-base;

  [data-current="true"] {
    border-left-color: #000;
    font-weight: bold;

    a > span {
      color: #1f2937;
    }
  }
}

.back_to_top_wrapper {
  display: flex;
  justify-content: flex-end;
}

.back_to_top {
  position: fixed;
  bottom: 60px;
  //right: 20px;
  z-index: 9999;
  font-size: 1.5em;
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  color: vars.$font-color;
  cursor: pointer;
  border: 1px solid vars.$border-color-base;
  background: vars.$bg-paper;
  //opacity: 0.5;
  transition: vars.$anim-ts;
  transform: translateX(calc(100% + 80px));
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    //opacity: 1;
    //border-color: #999;
    border-color: #0284c7;
    color: #0284c7;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: vars.$mobile-width) {
  .content {
    font-size: 18px;
    line-height: 1.7em;
  }

  .comment {
    .children {
      margin: 10px 0 0 20px;
    }
  }
}
