@use "@/styles/vars";
@use "@/styles/fns";

.page {
  @include fns.content_width;
  background: #fff;
  border: 1px solid vars.$border-color-base;
  box-shadow: 0 2px 8px 0 rgb(236 236 236 / 86%);
  margin: 40px auto 80px auto;
  padding: 0 60px;
}

.body {
  line-height: 1.8em;
  //letter-spacing: 1px;
  font-size: 16px;

  @include fns.link;
}

.scroll_smooth {
  scroll-behavior: smooth;
}

@media screen and (max-width: vars.$mobile-width) {
  .page {
    border: none;
    margin: 0 auto 40px auto;
    padding: 0 20px;
    box-shadow: none;
  }
}
